body {
    box-sizing: border-box;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 0;
    padding: 15px;
}

h1,
h2 {
    margin: 0;
}

.data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.data-section {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 25%;
}

.data-section div {
    height: 100%;
}

.gavs {
    width: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
}

.circle {
    width: 45%;
    aspect-ratio: 1/1;
    border: 2px solid rgb(112, 255, 119);
    background-color: rgba(0, 255, 21, 0.308);
    border-radius: 50%;
}

.bad-gav {
    border: 2px solid rgb(255, 112, 119);
    background-color: rgba(255, 0, 64, 0.308);
}

.column {
    flex-direction: column;
}